<div class="mainContainer">
  <div class="pageTitle newQuestion">お問い合わせフォーム</div>
  <div class="container newQuestion">
    <div class="form submit newEvent">
      <%= form_with(model: @question, url: confirm_questions_path, local: true) do |form| %>

      <% if @question.errors.any? %>
      <div class="error_explanation">
          <h2><%= @question.errors.count %>件のエラーがあります。</h2>
          <ul>
              <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
          </ul>
      </div>
      <% end %>

      <div class="require"><span>*</span>マークは必須入力項目です</div>
      <table>
        <tr>
          <th><%= form.label :タイトル, class: 'title' %></th>
          <td>
            <div class="titleLength">あと<span class="count"></span>文字入力できます</div>
            <%= form.text_field :title, class: 'titles', placeholder: 'お問い合わせタイトルを入力して下さい（80字以内）' %>
          </td>
        </tr>
        <tr>
          <th><%= form.label :問い合わせ内容, class: 'content' %></th>
          <td>
            <div class="contentLength">あと<span class="count"></span>文字入力できます</div>
            <%= form.text_area :content, class: 'content', placeholder: 'お問い合わせ内容を入力して下さい（1000字以内）' %>
          </td>
        </tr>
      </table>
      <%= form.hidden_field :to_user_id %>

      <div class="page-link toConfirmQuestion">
        <%= form.submit "問い合わせ作成", class: 'btn btn-warning' %>
      </div>

      <% end %>
    </div>

    <div class="page-link toEventIndex">
    <%= link_to "<< イベント一覧", events_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
