<div class="mainContainer">
  <div class="pageTitle eventIndex">開催イベント一覧</div>

  <div class="search-title">イベント検索<i class="fas fa-angle-double-down"></i></div>
  <div class="search_form">
  <%= search_form_for @search do |f| %>
    <div class="form-group">
      <%= f.label :category, "カテゴリ" %>
      <%= f.select :category_eq, [["セミナー・勉強会", "セミナー・勉強会"], ["異業種交流", "異業種交流"],
      ["恋活・婚活", "恋活・婚活"], ["スポーツ", "スポーツ"], ["趣味", "趣味"],
      ["その他", "その他"]], {include_blank: true}, class: "category" %>
      <%= f.label :area_cont, "エリア" %>
      <%= f.select :area_eq, [["新宿", "新宿"], ["原宿・表参道", "原宿・表参道"], ["渋谷", "渋谷"],
      ["池袋", "池袋"], ["六本木・麻布", "六本木・麻布"], ["赤坂", "赤坂"], ["銀座・有楽町", "銀座・有楽町"],
      ["丸の内・八重洲", "丸の内・八重洲"], ["品川", "品川"], ["上野", "上野"], ["お台場", "お台場"],
       ["その他", "その他"]], {include_blank: true}, class: "area" %>
      <div class="block"></div>
      <%= f.label :title_cont, "タイトル" %>
      <%= f.text_field :title_cont, class: "title" %>
      <div class="block"></div>
      <%= f.label :date, "日時" %>
      <%= f.date_select :date_gt, {include_blank: true, start_year: Time.now.year, end_year: Time.now.year + 81, use_month_numbers: true, date_separator: ' / '}, class: "date_gt" %>〜
      <%= f.date_select :date_lteq_end_of_day, {include_blank: true, start_year: Time.now.year, end_year: Time.now.year + 81, use_month_numbers: true, date_separator: ' / '}, class: "date_lt" %>
      <div class="block"></div>
      <%= f.label :payment, "参加料金" %>
      <%= f.number_field :payment_gt, class: "payment_gt" %>円 〜
      <%= f.number_field :payment_lt, class: "payment_lt" %>円
    </div>
    <div class="search_btn">
      <ul>
        <li><%= f.submit "検索", class: "btn btn-primary" %></li>
        <li><%= link_to "クリア", url_for, class: "btn btn-default" %></li>
      </ul>
    </div>
  <% end %>
  </div>
  <div class="space"></div>

  <div class="row">
    <div class="col-sm-12">
      <%= paginate @events %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="post-preview">
            <div class="event-container">
              <div class="event-category"><%= event.category %></div>
              <% if event.maxpeople - event.participant_users.count < 5 %>
              <div class="event_full">定員間近！</div>
              <% end %>
              <div class="event-image"><%= image_tag(event.image.url) if event.image.present? %></div>
              <div class="event-area"><%= event.area %></div>
              <div class="event-title"><%= event.title %></div>
              <div class="event-datetime"><%= event.date.to_s(:mdmn) %>〜</div>
              <div class="event-links">
                <ul>
                  <li>
                    <%= link_to event_path(event.id), class: 'btn btn-default' do %>詳細<i class="fa fa-angle-double-right"></i><% end %>
                  </li>
                  <% unless current_user.nil? %>
                    <% if event.user_id == current_user.id %>
                    <li>
                      <%= link_to edit_event_path(event.id), class: 'btn btn-info' do %>編集<i class="fa fa-angle-double-right"></i><% end %>
                    </li>
                    <li>
                      <%= link_to edit_event_path(event.id), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-danger' do %>削除<i class="fa fa-angle-double-right"></i><% end %>
                    </li>
                     <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="page-link toNewEvent">
  <%= link_to new_event_path, class: 'btn btn-warning' do %>新規イベント投稿<i class="fa fa-angle-double-right"></i><% end %>
  </div>

</div>
