<h1>記事を投稿しました！</h1>

<h4>投稿内容の確認</h4>

<p>カテゴリ: <%= @event.category %></p>
<p>タイトル: <%= @event.title %></p>
<p>内容: <%= @event.content %></p>
<p>開催エリア: <%= @event.area %></p>
<p>開催場所: <%= @event.place %></p>
<p>日時: <%= @event.date %></p>
<p>参加料金: <%= @event.payment %></p>
<p>募集人数: <%= @event.maxpeople %></p>
