<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">EVENTS</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fas fa-glass-martini"></i>EVENTS<i class="fas fa-glass-martini"></i></a>
          </div>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <% if logged_in? %>
              <li><a href="/events#index"><i class="fas fa-clipboard"></i>開催イベント一覧</a></li>
              <li><%= link_to user_path(current_user.id) do %><i class="fas fa-user"></i>マイページ<% end %></li>
              <li><%= link_to session_path(current_user.id), method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
              <% else %>
              <li><%= link_to new_session_path do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
              <li><%= link_to new_user_path do %><i class="fas fa-user-plus"></i>新規登録<% end %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="layerImage">
      <div class="layerTransparent">

        <div class="flash_msg">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
        </div>

        <%= yield %>

      </div>
    </div>
    <footer>
      <p>DIVE INTO VODE 2017年10月期</p>
      <p>並木　一樹</p>
    </footer>

  </body>
</html>
